*{
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 8rem;
    padding: 1rem;
}

.split.left .btn:hover{
    background-color: rgba(47, 122, 145, 1);
    border-color: rgba(47, 122, 145, 1);
}

.split.right .btn:hover{
    background-color: rgba(183, 88, 207, 1);
    border-color: rgba(183, 88, 207, 1);
}

/*.container{
    position: relative;
    width: 100%;
    height: 100;
    background: #333;
}*/

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('portman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(182, 205, 212, 0.6);
}

.split.right {
    right: 0;
    background: url('knightley.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(185, 165, 190, 0.6);
}

.split.right,
.split.left,
.split.left::before,
.split.right::before{
    transition: all 700ms ease-in-out;
}

.hover-left .left{
    width: 85%;
}

.hover-left .right{
    width: 15%;
}

.hover-right .right{
    width: 85%;
}
  
.hover-right .left {
    width: 15%;
}
